---
export interface Props {
  title: string;
  value?: string | number;
  fullWidth?: boolean;
}

const { title, value, fullWidth } = Astro.props;
---

<li class:list={["card", { full: fullWidth }]}>
  <h3 class="header">
    {title}
  </h3>
  <div class="value">
    <slot>{value}</slot>
  </div>
</li>
<style>
  .card {
    list-style: none;
    display: grid;
    padding: 0.5rem;
    gap: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid rgba(var(--accent), 25%);
    grid-template-areas: "header header" ". value";
  }
  .header {
    grid-area: header;
    margin: 0;
    font-weight: 200;
    font-size: 1.25rem;
  }
  .value {
    grid-area: value;
    font-size: 4rem;
    text-align: right;
  }

  .full {
    grid-template-areas: "header" "value";
    grid-column: 1 / -1;
  }

  .card:is(:hover, :focus-within) .header {
    color: rgb(var(--accent));
  }
</style>
